<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body>

  <header>
    <%- include('partials/header') %>
  </header>

  <nav>
    <%- include('partials/nav') %>
  </nav>

  <main>
    <%- body %>
  </main>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  <script src="/js/hiveland.js"></script>
</body>

</html>